Repository AzureAD/microsoft-authentication-library-for-android, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, common, msal, test-automation, package-inspector, pop-benchmarker, testapps

Update build.gradle for java 8
  msalautomationapp/build.gradle
  package-inspector/build.gradle
  pop-benchmarker/build.gradle
  testapps/testapp/build.gradle
Labels: test-automation, package-inspector, pop-benchmarker, testapps

add liscence and description of testcase
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase796048Clone.java
Labels: test-automation

remove old and add new wrapper test cases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase796048.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase796048Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99267.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99267Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99274.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99274Clone.java
Labels: test-automation

Adding broker host test case
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCasePerfBrokerHost.java
Labels: test-automation

Change file name
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCasePerfBrokerHost.java
Labels: test-automation

Adding scenario
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCasePerfBrokerHost.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCasePerf.java
Labels: test-automation

Upgrade Android Test Runner to version 1.3.0
  gradle/versions.gradle
Labels: none

add write permission on sdcard for firebase
  msalautomationapp/src/main/AndroidManifest.xml
Labels: test-automation

remove conflict of pinFixTest vs dev
  msalautomationapp/build.gradle
Labels: test-automation

add local testcases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase497038Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase497044Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99563Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99652Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99656Clone.java
Labels: test-automation

Bump to RC1
  changelog
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

add permisssion to write on sdcard in FTL
  msalautomationapp/src/main/AndroidManifest.xml
Labels: test-automation

Commented out jacoco, Bump to RC2
  msal/build.gradle
  msal/versioning/version.properties
  testapps/testapp/build.gradle
Labels: msal, testapps

Comment out the rest of jacoco related stuffs - Bump to RC3
  msal/build.gradle
  msal/versioning/version.properties
  testapps/testapp/build.gradle
Labels: msal, testapps

Comment out testCoverageEnabled - Bump to RC4
  msal/build.gradle
  msal/versioning/version.properties
  testapps/testapp/build.gradle
Labels: msal, testapps

Accommodating PR comments
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCasePerfBrokerHost.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCasePerf.java
  msalautomationapp/src/main/java/com/microsoft/identity/common/internal/controllers/CommandDispatcherHelper.java
Labels: test-automation

Fixing getAccount
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCasePerfBrokerHost.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCasePerf.java
Labels: test-automation

update broker test cases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase497069Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase769049Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase796049Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase796050Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase832430Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase833526Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase850455Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/blackforest/TestCase1116129Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/blackforest/TestCase1116130Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/blackforest/TestCase1116132Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/arlington/TestCase938447Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/arlington/TestCase940393Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/arlington/TestCase940421Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/fairfaxmigrated/TestCase938447Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/fairfaxmigrated/TestCase940393Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/fairfaxmigrated/TestCase940421Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/fairfaxmigrated/TestCase948676Clone.java
  msalautomationapp/src/main/java/com/microsoft/identity/client/msal/automationapp/sdk/MsalAuthTestParams.java
Labels: test-automation

Changes to support broker validation changes done in BrokerValidator
  msal/src/main/java/com/microsoft/identity/client/internal/api/BrokerClientIdRefreshTokenAccessor.java
Labels: msal

Update changelog
  changelog
Labels: none

Move around file for test case 948676 to resurrect it
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/arlington/TestCase948676.java
Labels: test-automation

Resolving PR comments
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCasePerfBrokerHost.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCasePerf.java
Labels: test-automation

PR comments
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
  msalautomationapp/src/main/java/com/microsoft/identity/common/internal/controllers/CommandDispatcherHelper.java
Labels: test-automation

Test case for github issue 1209
  msal/build.gradle
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfigurationFactory.java
  msal/src/test/java/com/microsoft/identity/client/PublicClientApplicationConfigurationTest.java
Labels: msal

Go back to use standard method.
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfigurationFactory.java
  msal/src/test/java/com/microsoft/identity/client/PublicClientApplicationConfigurationTest.java
Labels: msal

Update build.gradle to remove java 8
  msal/build.gradle
Labels: msal

Refactor setting broker for test
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/AbstractMsalBrokerTest.java
Labels: test-automation

update usgov test cases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase497038Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase497044Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99563Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/local/TestCase99652Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/arlington/TestCase938365Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/arlington/TestCase938367Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/arlington/TestCase938368Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/arlington/TestCase938383Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/arlington/TestCase938384Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/fairfaxmigrated/TestCase1116091Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/fairfaxmigrated/TestCase1116092Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/fairfaxmigrated/TestCase1116093Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/fairfaxmigrated/TestCase1116094Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/usgov/fairfaxmigrated/TestCase1116095Clone.java
Labels: test-automation

Accommodating PR comments
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
Labels: test-automation

update blackforest test cases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/blackforest/TestCase1116114Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/blackforest/TestCase1116115Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/blackforest/TestCase1116116Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/blackforest/TestCase1116117Clone.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/blackforest/TestCase1116118Clone.java
Labels: test-automation

update b2c test cases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/b2c/B2CIdLabSisoPolicyTestClone.java
Labels: test-automation

Remove unecessary statement
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Labels: test-automation

.github/labeler.yml:

docs:
  - docs/**/*
common:
  - common/**/*
msal:
  - msal/**/*
test-automation:
  - msalautomationapp/**/*
package-inspector:
  - package-inspector/**/*
pop-benchmarker:
  - pop-benchmarker/**/*
testapps:
  - testapps/**/*
