Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2018-09, with the labels that each got.

#356 Corrects compilation errors in sample, AndroidManifest, UiBehavior defaults
  msal/src/main/AndroidManifest.xml
  msal/src/main/java/com/microsoft/identity/client/AuthenticationResult.java
  msal/src/main/java/com/microsoft/identity/client/Logger.java
  msal/src/main/java/com/microsoft/identity/client/MSALApiDispatcher.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  msal/src/main/java/com/microsoft/identity/client/UiBehavior.java
  msal/src/main/java/com/microsoft/identity/client/internal/authorities/ActiveDirectoryFederationServicesAuthority.java
  msal/src/main/java/com/microsoft/identity/client/internal/authorities/Authority.java
  msal/src/main/java/com/microsoft/identity/client/internal/authorities/AzureActiveDirectoryB2CAuthority.java
  msal/src/main/java/com/microsoft/identity/client/internal/controllers/LocalMSALController.java
  msal/src/main/java/com/microsoft/identity/client/internal/telemetry/ApiEvent.java
  msal/src/main/java/com/microsoft/identity/client/internal/telemetry/Defaults.java
  msal/src/main/java/com/microsoft/identity/client/internal/telemetry/Event.java
  msal/src/main/java/com/microsoft/identity/client/internal/telemetry/EventDispatcher.java
  testapps/sample/src/main/java/com/microsoft/identity/client/sample/AuthUtil.java
Labels: Bug

#368 Adds changelog
  changelog
Labels: Documentation

#376 Fix nightly builds for MSAL
  msal/build.gradle
Labels: Bug

#377 Corrects changelog notes concerning logging/config
  changelog
Labels: Bug, Documentation

#381 Corrects MsalExceptionTest package declaration
  msal/src/test/java/com/microsoft/identity/client/exception/MsalExceptionTest.java
Labels: Bug
