Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-05, with the labels that each got.

#1379 Adding CODEOWNERS file
  CODEOWNERS
Labels: No-Changelog

#1383 Merge Release/2.0.12 to master
  changelog
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#1376 Add existing spotbugs violations as baseline
  config/spotbugs/baseline.xml
  msal/build.gradle
Labels: No-Changelog, msal

#1387 update instrumented test to use templates in common
  azure-pipelines.yml
  azure-pipelines/auth-client/instrumented-test.yml
Labels: No-Changelog

#1395 Bugfix for PackageInspector
  package-inspector/src/main/java/com/microsoft/inspector/MainActivity.java
Labels: package-inspector

#1392 Pull request validation pipeline
  azure-pipelines/pull-request-validation/pr-msal.yml
Labels: No-Changelog

#1393 Adding repo and area owners to the codeowners file
  CODEOWNERS
Labels: No-Changelog

#1397 Update Test App - To create multiple concurrent tasks
  testapps/testapp/src/main/AndroidManifest.xml
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/StartActivity.java
  testapps/testapp/src/main/res/layout/activity_start.xml
  testapps/testapp/src/main/res/values/strings.xml
Labels: testapps

#1265 Beef up redirect uri messaging
  changelog
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
Labels: msal
