Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-11, with the labels that each got.

#1548 Add command line support for gradle to generate a build with custom version number
  msal/build.gradle
  msal/versioning/version_tasks.gradle
Labels: msal

#1551 Remove tests cases using Blackforest Lab Accounts
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/AcquireTokenAADTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/MultiAccountAndResourceAcquireTokenNetworkTests.java
Labels: No-Changelog, msal

#1544 Toggle the ability to trust the debug broker in the test app
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/AcquireTokenFragment.java
  testapps/testapp/src/main/res/layout/fragment_acquire.xml
  testapps/testapp/src/main/res/values/strings.xml
Labels: testapps

#1553 Set BuildConfig.VERSON_NAME to be project.version to set it to correct version number
  gradle.properties
  msal/build.gradle
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/AcquireTokenAADTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/MultiAccountAndResourceAcquireTokenNetworkTests.java
Labels: msal
