Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-01, with the labels that each got.

#1256 Add GitHub action to perform pull request labelling.
  .github/labeler.yml
  .github/workflows/label.yml
  msalautomationapp/src/main/java/com/microsoft/identity/client/msal/automationapp/MainActivity.java
Labels: test-automation

#1270 Warn if SAPCA used with B2C. Throw Exception if Multiple Policies are Configured
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java
  msal/src/main/java/com/microsoft/identity/client/exception/MsalClientException.java
Labels: Enhancement, msal

#1271 Update build.gradle for java 8
  msalautomationapp/build.gradle
  package-inspector/build.gradle
  pop-benchmarker/build.gradle
  testapps/testapp/build.gradle
Labels: No-Changelog, package-inspector, pop-benchmarker, test-automation, testapps

#1268 adding product flavor to support all testcases in msalautomationapp
  msalautomationapp/build.gradle
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/AbstractMsalBrokerTest.java
Labels: No-Changelog, test-automation

#1275 Move around file for test case 948676 to resurrect it
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/usgov/arlington/TestCase948676.java
Labels: No-Changelog, test-automation

#1282 Initial commit of 'Maintainer Best Practices & How-Tos'
  docs/maintainer-best-practices.md
Labels: docs

#1286 Automation: Initialize activity before loading lab user
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/AbstractMsalUiTest.java
Labels: No-Changelog, test-automation

#1288 Copy logs to sdcard in finally block otherwise we lose logs on failure
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/MsalLoggingRule.java
Labels: No-Changelog, test-automation
