Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-02, with the labels that each got.

#1291 Upload Required B2C Token Response / Claims Documentation
  docs/b2c_required_artifacts_and_claims.md
Labels: docs

#1298 Enable Proxy debugging
  testapps/testapp/src/main/AndroidManifest.xml
  testapps/testapp/src/main/res/xml/network_security_config.xml
Labels: testapps

#1302 Reenables javadoc + src jars for Xamarin consumption
  msal/build.gradle
Labels: Bug - P1, Internal, msal
