Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-06, with the labels that each got.

#1417 add pr validation and instrumented test yml
  azure-pipelines/auth-client/instrumented-test.yml
  azure-pipelines/pull-request-validation/pr-msal.yml
Labels: No-Changelog

#1424 add YAML files for vsts and maven release MSAL
  azure-pipelines/maven-release/msal-maven-release.yml
  azure-pipelines/vsts-releases/msal-vsts-release.yml
Labels: No-Changelog

#1426 Fix lint task problem, update version, update dist common dependency
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#1440 remove task when task affinity is null
  msal/src/main/java/com/microsoft/identity/client/CurrentTaskBrowserTabActivity.java
Labels: msal, release/2.1.0

#1442 update version to rc2
  msal/versioning/version.properties
Labels: msal

#1446 increment version
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#1448 shoatman/update version
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#1434 Ignore test case 833513 as it has been failing for some time
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase833513.java
Labels: test-automation

#1432 Make text selectable in certificate hash dialog
  package-inspector/src/main/java/com/microsoft/inspector/MainActivity.java
  package-inspector/src/main/res/layout/dialog_layout.xml
  package-inspector/src/main/res/values/strings.xml
Labels: package-inspector
