Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-08, with the labels that each got.

#1452 Aherciya/msal broker password change
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase850457.java
Labels: test-automation

#1473 PoP Docs Tweaks to Account for Compat Restrictions
  docs/access_token-pop.md
Labels: No-Changelog, docs

#1494 Removes iambmelt as codeowner
  CODEOWNERS
Labels: Internal, No-Changelog

#1503 Update version.properties
  msal/versioning/version.properties
Labels: msal
