Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-03, with the labels that each got.

#1319 Disable java 1.8
  msal/build.gradle
  testapps/testapp/build.gradle
Labels: msal, testapps

#1325 Delete test.txt (junk file)
  test.txt
Labels: Internal, No-Changelog

#1323 Add extra '/' in the example intent filter
  changelog
  msal/src/main/java/com/microsoft/identity/client/helper/BrokerHelperActivity.java
Labels: msal

#1327 Add additional validation to redirect uri
  changelog
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  msal/src/test/java/android/text/TextUtils.java
  msal/src/test/java/com/microsoft/identity/client/AzureActiveDirectoryAudiencePreProductionTest.java
  msal/src/test/java/com/microsoft/identity/client/PromptTest.java
  msal/src/test/java/com/microsoft/identity/client/PublicClientApplicationConfigurationTest.java
Labels: msal

#1316 Enable removing account across clouds + add UTs for cross cloud scenario
  msal/src/main/java/com/microsoft/identity/client/AccountAdapter.java
  msal/src/main/java/com/microsoft/identity/client/MultipleAccountPublicClientApplication.java
  msal/src/test/java/com/microsoft/identity/client/e2e/shadows/ShadowAuthorityForMockHttpResponse.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/CrossCloudGuestAccountTest.java
Labels: msal

#1339 Add correlation ID to MSAL test app
  testapps/testapp/build.gradle
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/AcquireTokenFragment.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MainActivity.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MsalWrapper.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/RequestOptions.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/ResultFragment.java
Labels: testapps

#1346 Revert not passing environment in removeAccount call for backward compat
  msal/src/main/java/com/microsoft/identity/client/MultipleAccountPublicClientApplication.java
Labels: msal
