Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2021-04, with the labels that each got.

#1368 Shoatman/fix instrumented tests
  msal/build.gradle
  msal/src/androidTest/java/com/microsoft/identity/client/PublicClientApplicationTest.java
  msal/src/androidTest/java/com/microsoft/identity/client/PublicClientConfigurationTest.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  scripts/run-instrumented-tests.sh
Labels: No-Changelog, msal

#1357 Log and throw exception if there are other apps listening for the url…
  changelog
  msal/src/androidTest/java/com/microsoft/identity/client/PublicClientApplicationTest.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  msal/src/main/java/com/microsoft/identity/client/exception/MsalClientException.java
  msal/src/main/java/com/microsoft/identity/client/internal/MsalUtils.java
  msal/src/test/java/com/microsoft/identity/client/e2e/shadows/ShadowPublicClientApplicationConfiguration.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/AcquireTokenMockTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/AcquireTokenMockedTelemetryTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/CommandResultCachingTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/CrossCloudGuestAccountTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/DeviceCodeFlowApiTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/SingleAccountOverloadsMockedTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/AcquireTokenNetworkTest.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/GuestAccountAcquireTokenNetworkTests.java
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/MultiAccountAndResourceAcquireTokenNetworkTests.java
  msalautomationapp/build.gradle
  msalautomationapp/src/androidTest/AndroidManifest.xml
Labels: msal, test-automation

#1375 Update readme instructions for gradle version
  README.md
Labels: Bug - P2, External, docs
