Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2022-08, with the labels that each got.

#1646 Test WPJ leave 1561081
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase1561081.java
Labels: test-automation

#1651 Implement TestCase1561079 - get device id
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase1561079.java
Labels: test-automation

#1678 Rename Method Name and Improve Comments
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase1561081.java
Labels: test-automation

#1653 TestCase1561080- Implement automation for getting the device state
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase1561080.java
Labels: test-automation

#1683 Implement Test-Sharding in UI Test Automation Pipelines to Decrease Runtime
  azure-pipelines/ui-automation/msal-broker-BrokerHost-nightly.yml
  azure-pipelines/ui-automation/msal-local-nightly.yml
  azure-pipelines/ui-automation/templates/flank/flank.yml
  azure-pipelines/ui-automation/templates/flank/run-on-firebase-with-flank.yml
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/TestCase1561081.java
Labels: No-Changelog, test-automation

#1688 Updating the single account cache before notifying the caller of account change/load via callback.
  changelog
  msal/src/main/java/com/microsoft/identity/client/SingleAccountPublicClientApplication.java
Labels: msal
