Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2023-09, with the labels that each got.

#1896 Fix Simple Update Tests
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/AbstractMsalCustomBrokerInstallationTest.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateAuthenticator.kt
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateCompanyPortal.kt
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateLTW.kt
Labels: No-Changelog, test-automation

#1908 Update msal maven release job for ESRP release
  azure-pipelines/maven-release/msal-maven-release.yml
  msal/build.gradle
Labels: No-Changelog, msal

#1907 Merge release/4.8.1 to dev
  changelog
  msal/versioning/version.properties
Labels: No-Changelog, msal

#1910 [cherry-pick] Update msal maven release job for ESRP release (#1908)
  azure-pipelines/maven-release/msal-maven-release.yml
  msal/build.gradle
Labels: msal

#1911 Moving UI tests for NAA to msalautomationapp from brokerautomationapp
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/NestedAppHelper.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688459.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688460.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688462.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688468.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2690048.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2703171.java
Labels: test-automation
