Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2023-12, with the labels that each got.

#1966 Add unit tests for Native Auth
  azure-pipelines/pull-request-validation/pr-msal.yml
  msal/build.gradle
  msal/src/androidTest/java/com/microsoft/identity/client/AndroidTestUtil.java
  msal/src/androidTest/java/com/microsoft/identity/client/PublicClientApplicationTest.java
  msal/src/androidTest/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
  msal/src/androidTest/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationTest.java
  msal/src/androidTest/res/raw/test_msal_config_native_auth.json
  msal/src/androidTest/res/raw/test_msal_config_native_auth_no_redirect.json
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationJavaTest.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: No-Changelog, msal

#1976 Update comments for Native Auth classes
  msal/src/main/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplication.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/results/BaseResults.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/Callback.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/ResetPasswordStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignInStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignUpStates.kt
Labels: msal

#1978 Update Codeowners to add androidTest folder for NativeAuth
  CODEOWNERS
Labels: No-Changelog

#1985 Update the code in testDeviceCodeFlowTokenExpiredToken
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/DeviceCodeFlowApiTest.java
Labels: No-Changelog

#1980 Run mock API tests without cmd line param
  azure-pipelines/pull-request-validation/pr-msal.yml
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationJavaTest.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: No-Changelog, msal
