Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2023-02, with the labels that each got.

#1757 Got the current app packagename and signature to create the app ident…
  msal/src/main/java/com/microsoft/identity/client/internal/api/BrokerClientIdRefreshTokenAccessor.java
Labels: msal

#1758 Adding sub error codes to MsalUiRequiredException
  changelog
  msal/src/main/java/com/microsoft/identity/client/exception/MsalUiRequiredException.java
  msal/src/main/java/com/microsoft/identity/client/internal/controllers/MsalExceptionAdapter.java
Labels: msal

#1759 Add kotlin support to msal
  build.gradle
  gradle/versions.gradle
  gradle/wrapper/gradle-wrapper.properties
  msal/build.gradle
Labels: No-Changelog, msal

#1769 Only initialize telemetry in test app if otel token provided
  testapps/testapp/build.gradle
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MainActivity.java
Labels: testapps
