Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2023-07, with the labels that each got.

#1857 Added LTW annotation
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateCompanyPortal.kt
Labels: test-automation

#1858 Initialize Aria before Setting up telemetry
  testapps/testapp/build.gradle
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MainActivity.java
Labels: testapps

#1866 Fix MSAL Test app due to the change in common
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/AcquireTokenFragment.java
Labels: No-Changelog, testapps
