Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2023-06, with the labels that each got.

#1837 Exclude common to be pulled from testUtils dependency
  msal/build.gradle
Labels: No-Changelog, msal

#1825 User/mohit/add ltw as build variant for automation
  msalautomationapp/build.gradle
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/AbstractMsalBrokerUpdateTest.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateAuthenticator.kt
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateCompanyPortal.kt
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/msalonly/update/TestCaseUpdateLTW.kt
Labels: test-automation

#1829 Added a new button in MSALTestApp to get the active broker pkg name
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/AcquireTokenFragment.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MsalWrapper.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MultipleAccountModeWrapper.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/SingleAccountModeWrapper.java
  testapps/testapp/src/main/res/layout/fragment_acquire.xml
  testapps/testapp/src/main/res/values/strings.xml
Labels: No-Changelog, testapps

#1839 Merging Somalaya/release/4.6.0 to release/4.6.0
  changelog
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#1840 Merging somalaya/release/4.6.1 to release/4.6.1
  changelog
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#1841 Merging release/4.6.1 to dev
  changelog
  msal/versioning/version.properties
Labels: msal

#1844 Add lint to PR check
  azure-pipelines/pull-request-validation/pr-msal.yml
  msal/build.gradle
Labels: No-Changelog, msal

#1847 Fix exception in SDM
  msal/src/main/java/com/microsoft/identity/client/AccountAdapter.java
  msal/src/main/java/com/microsoft/identity/client/SingleAccountPublicClientApplication.java
Labels: msal
