Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-07, with the labels that each got.

#2143 Update the msal test app for Native Auth
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpAttributesFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpPasswordFragment.kt
  testapps/testapp/src/main/res/layout/fragment_attribute.xml
Labels: testapps

#2118 Fix msal test app after merging with the fadi/release/5.4.0
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/EmailAttributeSignUpFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/EmailPasswordSignInSignUpFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/EmailSignInSignUpFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignInCodeFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpAttributesFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpCodeFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpPasswordFragment.kt
  testapps/testapp/src/main/res/layout/fragment_attribute.xml
Labels: test-automation, msal, testapps

#2149 Revert the change
  .gitmodules
Labels: No-Changelog

#2150 Append the UserAttributes fix into the changelog as MINOR
  changelog
Labels: msal
