Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-09, with the labels that each got.

#2169 Add PBI validation github action, Fixes AB#3024932
  .github/workflows/validate-pr-ab-id.yml
Labels: No-Changelog

#2173 Native Auth Email OTP MFA bug fix
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/MFAStates.kt
Labels: msal

#2168 Add warnings to Javadoc + log warnings when MFA methods are used.
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/results/SignInResult.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/MFAStates.kt
Labels: msal

#2176 MFA E2E tests
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/results/SignInResult.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/GetTokenTests.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/NativeAuthPublicClientApplicationAbstractTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SSPRTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInEmailOTPTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInEmailPasswordTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInMFATest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailOTPAttributesTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailOTPTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailPasswordAttributesTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailPasswordTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/utils/AssertUtils.kt
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: msal

#2179 Remove triggers from pipelines and execute ABID validator on label change
  .github/workflows/validate-pr-ab-id.yml
  azure-pipelines/auth-client/msal-instrumented-test.yml
  azure-pipelines/pull-request-validation/pr-msal.yml
Labels: No-Changelog, skip AB ID validation

#2171 Deprecate active broker pkg name get API
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java
Labels: msal

#2181 Test fixes for disabling browser access with keystore flight enabled, Fixes AB#3039504
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2582294.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2582295.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2582296.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2582297.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/mwpj/TestCase2519783.kt
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/mwpj/TestCase2563668.kt
Labels: test-automation

#2185 Introduce specific MFA errors
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/errors/MFAErrors.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/results/MFAResult.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/results/ResetPasswordResult.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/MFAStates.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInMFATest.kt
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: msal

#2186 Trigger AB#ID action on synchronize, Fixes AB#3042442
  .github/workflows/validate-pr-ab-id.yml
Labels: No-Changelog
