Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-04, with the labels that each got.

#2068 fix tests when broker discovery is enabled
  msal/src/test/java/com/microsoft/identity/client/e2e/shadows/ShadowDiscoveryClient.kt
  msal/src/test/java/com/microsoft/identity/client/internal/controllers/MSALControllerFactoryTest.kt
Labels: No-Changelog, msal

#2069 [alias/release branch] fix tests when broker discovery is enabled
  msal/src/test/java/com/microsoft/identity/client/e2e/shadows/ShadowDiscoveryClient.kt
  msal/src/test/java/com/microsoft/identity/client/internal/controllers/MSALControllerFactoryTest.kt
Labels: msal

#2078 Pipelines fixes. (Credscan suppression file, CodeQL, AndroidAuthClientVariables)
  azure-pipelines/pull-request-validation/pr-msal.yml
  changelog
  config/credscan/suppression.json
  msal/build.gradle
Labels: msal

#2086 Fix for test_1592465, updating expected exception
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/crosscloud/TestCase1592465.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/crosscloud/TestCase1592510.java
Labels: No-Changelog, test-automation

#2094 Fix testcases
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2582290.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2690048.java
Labels: test-automation
