Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-05, with the labels that each got.

#2085 Update Account object in AccountState after access token refresh.
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/AccountState.kt
Labels: msal

#2092 Native auth safe logging test
  msal/src/main/java/com/microsoft/identity/client/Logger.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationJavaTest.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
  msal/src/test/java/com/microsoft/identity/nativeauth/utils/LoggerCheckHelper.kt
Labels: No-Changelog, msal

#2080 Add ClientException wrapper for native auth
  msal/src/main/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplication.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/errors/Error.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/AccountState.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/ResetPasswordStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignInStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignUpStates.kt
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationJavaTest.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: No-Changelog, msal

#2103 Add mock api url argument into msal pipeline
  azure-pipelines/pull-request-validation/pr-msal.yml
Labels: No-Changelog

#2071 Clean up native auth msal logging
  msal/src/main/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplication.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationConfiguration.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/AccountState.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/ResetPasswordStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignInStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignUpStates.kt
Labels: No-Changelog, msal
