Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-02, with the labels that each got.

#2034 Update version for androidxTestCoreVersion to 1.5.0
  gradle/versions.gradle
Labels: No-Changelog

#2038 merge feb release back to dev
  changelog
  msal/build.gradle
  msal/versioning/version.properties
Labels: msal

#2048 Edit test app to test QR + PIN feature
  testapps/testapp/src/main/AndroidManifest.xml
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/Constants.java
  testapps/testapp/src/main/res/raw/msal_config_ppe.json
  testapps/testapp/src/main/res/raw/msal_config_webview_ppe.json
Labels: testapps
