Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-01, with the labels that each got.

#1989 Ignore NativeAuth unit tests
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationJavaTest.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: No-Changelog, msal

#1986 Add consumer rule to remove native auth from msal by default
  changelog
  msal/consumer-rules.pro
Labels: msal

#1988 Remove duplicate dependency on testUtils project
  msal/build.gradle
Labels: No-Changelog, msal

#1998 Adding browser and webview skip_broker config options to test app
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/Constants.java
  testapps/testapp/src/main/res/raw/msal_config_browser_skip_broker.json
  testapps/testapp/src/main/res/raw/msal_config_webview_skip_broker.json
Labels: No-Changelog, testapps

#1996 Use Parcelable instead of Serializable for NativeAuth statemachine classes
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/AccountState.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/ResetPasswordStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignInStates.kt
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignUpStates.kt
Labels: msal

#2015 update robolectricVersion
  gradle/versions.gradle
Labels: No-Changelog

#2001 Add native auth to MSAL test app
  CODEOWNERS
  testapps/testapp/build.gradle
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/Constants.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MainActivity.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/NativeAuthFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/AuthClient.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/EmailAttributeSignUpFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/EmailPasswordSignInSignUpFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/EmailSignInSignUpFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/PasswordResetCodeFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/PasswordResetFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/PasswordResetNewPasswordFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignInCodeFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpAttributesFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpCodeFragment.kt
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/nativeauth/SignUpPasswordFragment.kt
  testapps/testapp/src/main/res/drawable/ic_baseline_email_24.xml
  testapps/testapp/src/main/res/drawable/ic_baseline_lock_reset_24.xml
  testapps/testapp/src/main/res/drawable/ic_baseline_remove_red_eye_24.xml
  testapps/testapp/src/main/res/drawable/ic_baseline_text_snippet_24.xml
  testapps/testapp/src/main/res/drawable/side_nav_bar.xml
  testapps/testapp/src/main/res/layout/fragment_attribute.xml
  testapps/testapp/src/main/res/layout/fragment_code.xml
  testapps/testapp/src/main/res/layout/fragment_email_attribute.xml
  testapps/testapp/src/main/res/layout/fragment_email_password.xml
  testapps/testapp/src/main/res/layout/fragment_email_sisu.xml
  testapps/testapp/src/main/res/layout/fragment_email_sspr.xml
  testapps/testapp/src/main/res/layout/fragment_native.xml
  testapps/testapp/src/main/res/layout/fragment_password.xml
  testapps/testapp/src/main/res/menu/activity_main_drawer.xml
  testapps/testapp/src/main/res/menu/bottom_navigation_menu.xml
  testapps/testapp/src/main/res/raw/msal_config_native.json
  testapps/testapp/src/main/res/values/dimens.xml
  testapps/testapp/src/main/res/values/strings.xml
  testapps/testapp/src/main/res/values/styles.xml
Labels: No-Changelog, testapps

#2003 Fix MSAL Issue #1864
  changelog
  msal/build.gradle
  testapps/testapp/build.gradle
Labels: msal, testapps

#2021 Move otelexporter code from its own module to AADAuthenticator
  testapps/testapp/build.gradle
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MainActivity.java
Labels: No-Changelog, testapps

#1995 Modified NAA tests with MSA account
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/NestedAppHelper.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688459.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688460.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688462.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2690048.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2703171.java
Labels: test-automation

#2027 Fix regression bug introduced by native auth additions to MSAL test app
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/NativeAuthFragment.kt
  testapps/testapp/src/main/res/menu/activity_main_drawer.xml
Labels: testapps
