Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2024-03, with the labels that each got.

#2046 Automate TestCase 2798415
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/mam/TestCase2798415.kt
Labels: No-Changelog, test-automation

#2054 Remove unused import + update error message of SignInContinuationError
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignInStates.kt
Labels: No-Changelog, msal

#2040 Give BrokerMsalController higher priority than LocalMsalController if available
  changelog
  msal/src/main/java/com/microsoft/identity/client/internal/controllers/MSALControllerFactory.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/shadows/ShadowLegacyBrokerDiscoveryClient.kt
  msal/src/test/java/com/microsoft/identity/client/internal/controllers/MSALControllerFactoryTest.kt
Labels: msal

#2058 Update error type returned from invalid OTP code response
  msal/src/main/java/com/microsoft/identity/nativeauth/statemachine/states/SignUpStates.kt
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationJavaTest.java
  msal/src/test/java/com/microsoft/identity/nativeauth/NativeAuthPublicClientApplicationKotlinTest.kt
Labels: No-Changelog, msal

#2061 Modifying NAA tests to run with broker host
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688459.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688460.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688462.java
Labels: No-Changelog, test-automation

#2062 Fixing compilation error due to missing import
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688459.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2688460.java
Labels: test-automation
