Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2025-01, with the labels that each got.

#2233 add google id dependency variable
  gradle/versions.gradle
Labels: No-Changelog, skip AB ID validation

#2244 Native Auth E2E test fix, Fixes AB#3125466
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/NativeAuthPublicClientApplicationAbstractTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SSPRTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInEmailOTPTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInMFATest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailOTPAttributesTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailOTPTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailPasswordAttributesTest.kt
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignUpEmailPasswordTest.kt
Labels: No-Changelog, msal

#2250 Update browser selector
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MsalWrapper.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MultipleAccountModeWrapper.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/SingleAccountModeWrapper.java
Labels: No-Changelog, testapps, skip AB ID validation

#2231 Add support for OneBox Environment, Fixes AB#3113751
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/Constants.java
  testapps/testapp/src/main/res/raw/msal_config_onebox.json
Labels: testapps
