Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2025-07, with the labels that each got.

#2324 Update package inspector to generate SHA-512 along with SHA-1
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  package-inspector/src/main/java/com/microsoft/inspector/MainActivity.java
Labels: No-Changelog, msal, package-inspector, skip AB ID validation

#2342 Removed old LTW test, Fixes AB#3326784
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2571580.java
Labels: test-automation

#2337 Update our README to empower AI Agents, also update the existing infromation, Fixes AB#3325420
  README.md
  auth_config.template.json
  snippets/acquire_token_with_device_code_flow.java
  snippets/msal_initialization.java
  snippets/msal_initialization.kt
Labels: No-Changelog

#2340 Eliminate manual comment toggling — control output names with flags instead.
  msal/build.gradle
Labels: No-Changelog, msal, skip AB ID validation
