Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2025-08, with the labels that each got.

#2347 Removing testcase with old authapp, Fixes AB#3326784
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/ltw/TestCase2571565.java
Labels: test-automation

#2351 Re-enable Phone Sign Up Option Test
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/msa/TestCase3040042.kt
Labels: No-Changelog, test-automation, skip AB ID validation

#2361 Add null checks for guest account ids, Fixes AB#3330213
  changelog
  msal/src/main/java/com/microsoft/identity/client/AccountAdapter.java
Labels: msal
