Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2025-02, with the labels that each got.

#2252 Native auth: Add new E2E test for authentication context MFA, Fixes AB#3117220
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/network/nativeauth/SignInMFATest.kt
Labels: msal

#2259 Fix test 2110359
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/brokerapi/TestCase2110359.java
Labels: No-Changelog, test-automation, skip AB ID validation

#2260 Updating README
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: No-Changelog, skip AB ID validation
