Repository AzureAD/microsoft-authentication-library-for-android, pull requests merged in 2025-04, with the labels that each got.

#2277 NAA testcase ignored until bug on eSTS side is fixed
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/nestedAppAuth/TestCase2690048.java
Labels: No-Changelog, test-automation, skip AB ID validation

#2279 Merging April release branch Working/release/6.0.0 back to dev
  changelog
  msal/versioning/version.properties
Labels: msal

#2282 Update codeowner file. Native auth co-ownership
  CODEOWNERS
Labels: No-Changelog, skip AB ID validation

#2285 Prevents triggering on commits to target branch
  azure-pipelines/pull-request-validation/pr-msal.yml
Labels: No-Changelog, skip AB ID validation

#2286 Adjust msa sign up test
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/broker/msa/TestCase3007768.kt
Labels: No-Changelog, test-automation, skip AB ID validation
