Repository AzureAD/microsoft-authentication-library-for-android, changes with the owners that CODEOWNERS names for each.
All owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman, @p3dr0rv

Update testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/StartActivity.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/StartActivity.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

WIP
  msal/build.gradle
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfigurationFactory.java
  msal/src/main/java/com/microsoft/identity/client/internal/CommandParametersAdapter.java
  msal/src/main/res/raw/msal_default_config.json
  testapps/testapp/build.gradle
  testapps/testapp/src/main/res/raw/msal_config_default.json
Owners: @shoatman, @AdamBJohnsonx, @shahzaibj, @iambmelt, @rpdome

Add additional metadata about the fetched token.
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/MainActivity.java
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/ResultFragment.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

return gradle files to normal
  msal/build.gradle
  testapps/testapp/build.gradle
Owners: @shoatman, @AdamBJohnsonx, @shahzaibj

updated the changelog
  changelog
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

test updated
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

further updates
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

removed the forceRefresh flag
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

cleanup
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
Owners: @shahzaibj, @rpdome

eof
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
Owners: @shahzaibj, @rpdome

further cleanup
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

purging one test
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
Owners: @shahzaibj, @rpdome

test TestCasePerfBrokerHost in isolation
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBroker.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHostWithoutCodeMarker.java
Owners: @shahzaibj, @rpdome

testing together with TestCasePerfBroker
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBroker.java
Owners: @shahzaibj, @rpdome

testing together with TestCasePerf
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
Owners: @shahzaibj, @rpdome

New authorization behavior
  msal/src/main/AndroidManifest.xml
  msal/src/main/java/com/microsoft/identity/client/CurrentTaskBrowserTabActivity.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfiguration.java
  msal/src/main/java/com/microsoft/identity/client/PublicClientApplicationConfigurationFactory.java
  testapps/testapp/src/main/AndroidManifest.xml
  testapps/testapp/src/main/res/raw/msal_config_default.json
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

purged forceRefresh in PerfDataTarget
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBroker.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHostWithoutCodeMarker.java
Owners: @shahzaibj, @rpdome

tests cleanup
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBroker.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokered.java
Owners: @shahzaibj, @rpdome

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Repo Code Owners
#--------------------

*       @AdamBJohnsonx @iambmelt @rpdome @shahzaibj @shoatman


# Area Owners
#---------------------

# Automation
/msalautomationapp/                                                                 @shahzaibj @rpdome
/msal/src/test/                                                                     @shahzaibj @rpdome
/msal/src/androidTest/                                                              @shahzaibj @rpdome

# Build
*.gradle                                                                            @shoatman @AdamBJohnsonx @shahzaibj

# Docs
/docs                                                                               @iambmelt @AdamBJohnsonx 

# PackageInspector
/package-inspector                                                                  @iambmelt @shahzaibj 

# Pipelines
/azure-pipelines/                                                                   @shoatman @shahzaibj @p3dr0rv

# PoP Benchmarker
/pop-benchmarker                                                                    @iambmelt @AdamBJohnsonx
