Repository AzureAD/microsoft-authentication-library-for-android, changes with the owners that CODEOWNERS names for each.
All owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman, @p3dr0rv

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Repo Code Owners
#--------------------

*       @AdamBJohnsonx @iambmelt @rpdome @shahzaibj @shoatman


# Area Owners
#---------------------

# Automation
/msalautomationapp/                                                                 @shahzaibj @rpdome
/msal/src/test/                                                                     @shahzaibj @rpdome
/msal/src/androidTest/                                                              @shahzaibj @rpdome

# Build
*.gradle                                                                            @shoatman @AdamBJohnsonx @shahzaibj

# Pipelines
/azure-pipelines/                                                                   @shoatman @shahzaibj @p3dr0rv

rename spotbugs
  azure-pipelines/pull-request-validation/pr-msal.yml
Owners: @shoatman, @shahzaibj, @p3dr0rv

Update test cases after migrating ests telemetry to common4j
  msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/AcquireTokenMockedTelemetryTest.java
Owners: @shahzaibj, @rpdome

support and test custom tabs no new task
  msal/build.gradle
  msal/src/main/AndroidManifest.xml
  msal/src/main/java/com/microsoft/identity/client/BrowserTabActivity.java
  testapps/testapp/build.gradle
  testapps/testapp/src/main/AndroidManifest.xml
  testapps/testapp/src/main/java/com/microsoft/identity/client/testapp/AcquireTokenFragment.java
  testapps/testapp/src/main/res/raw/msal_config_default.json
Owners: @shoatman, @AdamBJohnsonx, @shahzaibj, @iambmelt, @rpdome

Bugfix for pkginspector
  package-inspector/src/main/java/com/microsoft/inspector/MainActivity.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

testing with resources
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerf.java
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

testing with broker
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

test updated
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

test updated
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

pipelines for release
  azure-pipelines/maven-release/msal-maven-release.yml
  azure-pipelines/vsts-releases/msal-vsts-release.yml
Owners: @shoatman, @shahzaibj, @p3dr0rv

test updated
  msalautomationapp/src/androidTest/java/com/microsoft/identity/client/msal/automationapp/testpass/perf/TestCasePerfBrokerHost.java
Owners: @shahzaibj, @rpdome

ad release/* to trigger branches
  azure-pipelines/pull-request-validation/pr-msal.yml
Owners: @shoatman, @shahzaibj, @p3dr0rv
